body {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  background-color: #fdf9f6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  max-width: 400px;
  width: 90%;
  background-color: #fff;
  padding-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.header img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.logo {
  margin-top: -50px;
  margin-bottom: 10px;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #fff;
}

h1 {
  font-size: 24px;
  margin: 10px 0 5px;
  font-weight: 700;
}

.subtitle {
  font-size: 12px;
  color: #888;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.links a {
  display: block;
  margin: 10px 25px;
  padding: 12px;
  border: 1px solid #7a6448;
  border-radius: 30px;
  text-decoration: none;
  color: #7a6448;
  font-weight: bold;
  transition: all 0.3s;
  font-family: 'Open Sans', sans-serif;
}

.links a:hover {
  background-color: #7a6448;
  color: #fff;
}

footer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: #555;
}

footer img {
  width: 18px;
  height: 18px;
}
